github "blakewatters/ISO8601DateFormatterValueTransformer" == 0.6.1
github "zwopple/PocketSocket" == 1.0.1
github "pocketsvg/PocketSVG" == 2.5.0
github "tonymillion/Reachability" == 3.2
github "ReactiveCocoa/ReactiveObjC" == 3.1.1
github "RestKit/RestKit" == 0.27.3
github "RestKit/RKValueTransformers" == 1.1.3
github "SDWebImage/SDWebImage" == 5.5.2
github "NimbusKit/sockit" == 1.1
github "blakewatters/TransitionKit" == 2.2.1
github "ibireme/YYText" == 1.0.7
